<footer class="py-4 bg-dark">
    <div class="container">
        <div class="d-flex justify-content-between mx-lg-5">
            <div class="my-auto">
                <h3>© {{ 'now' | date: "%Y" }} Kuuhaukun® kennel</h3>
            </div>
            <div class="my-auto">

                {% if lang == "en" %}
                <a href="/">Suomeksi</a>
                {% elsif lang == "fi" %}
                <a href="/en">In English</a>
                {% endif %}

            </div>
        </div>
    </div>
</footer>
