{% assign menu=page.menu | default: 'muuta' %}
{% assign artikkelit=page.kolme-esiin %}

<div class="row">
    {% for artikkeli in artikkelit %}
    {% assign art-slug = artikkeli | slugify %}
    {% for post in site.pages %}
    {% assign post-slug = post.permalink | slugify %}
    {% if post-slug == art-slug %}
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100 kolme-esiin-card">
            <a href="{{post.url | relative_url}}">
                <img class="card-img-top"
                     src="{{ site.url }}/images/{{post.kolme-esiin-kuva}}" alt="">
            </a>
            <div class="card-body">
                <h3 class="card-title"><a href="{{post.url | relative_url}}">{{ post.kolme-esiin-title }}</a>
                </h3>

                <p class="card-text">
                    {{ post.kolme-esiin-teksti }}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
