{% assign menu=page.menu | default: 'muuta' %}

{% assign artikkelijono='' %}
{% assign artikkelit=page.kolme-esiin %}

{% for artikkeli in artikkelit %}
{% if artikkeli != "" %}
{% assign avain= artikkeli | slugify %}
{% assign artikkelijono = avain | append: "," | append: artikkelijono %}
{% endif %}
{% endfor %}
{% assign kolme-esiin = artikkelijono | split: "," %}

<div class="bg-light">
    <div class="container linkkiosio">
        <div class="mx-lg-5 py-5">
            <div class="row">
                {% for post in site.pages %}
                {% assign post-slug = post.permalink | slugify %}
                {% if kolme-esiin contains post-slug %}
                {% elsif post.menu == menu %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="d-flex flex-row">
                        {% if post.linkin-pikkukuva %}
                        <div>
                            <a href="{{post.url}}" class="kuvalinkki">
                                <img src="{{ site.url }}/images/{{post.linkin-pikkukuva}}" alt="">
                            </a>
                        </div>
                        {% endif %}
                        <div class="pl-3">
                            <h5><a href="{{post.url}}">{{post.otsikko}}</a></h5>
                            <p>{{post.linkin-teksti}}</p>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>