<nav class="navbar navbar-expand-md navbar-dark bg-transparent mx-lg-5 pl-0 my-3">
    {% if lang == "en" %}
    <a class="navbar-brand my-auto mr-auto" href="{{ '/en' | relative_url }}">
        <img src="{{ site.url }}/images/logo.png" alt="{{site.title}}">
    </a>
    {% elsif lang == "fi" %}
    <a class="navbar-brand my-auto mr-auto" href="{{ '/' | relative_url }}">
        <img src="{{ site.url }}/images/logo.png" alt="{{site.title}}">
    </a>
    {% endif %}


    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            {% for menu in site.nav[lang].menus %}
            {% for post in site.pages %}
            {% if post.permalink == menu %}
                {% if page.menu == menu %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ post.url | relative_url }}" tabindex="-1">{{post
                    .menu-title}}</a>
            </li>
                {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ post.url | relative_url }}" tabindex="-1">{{post
                    .menu-title}}</a>
            </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</nav>
