---
layout: default
---
{% assign lang=page.lang | default: site.lang | default: 'en' %}

<div id="carousel-example-generic" class="carousel slide mx-5 my-2 py-3 px-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="d-flex flex-row">
                <div class="my-auto">
                    <h2 id="slide-h2" class="text-center align-middle">{{page.slide-1-title}}</h2>
                    <p id="slide-p" class="text-center align-middle">
                        {{page.slide-1-caption}}
                    </p>

                </div>
                <div>
                    <img class="float-right" src="{{ site.url }}/images/{{ page.slide-1-img }}" alt="">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex flex-row">
                <div class="my-auto">
                    <h2 id="slide-h2" class="text-center align-middle">{{page.slide-2-title}}</h2>
                    <p id="slide-p" class="text-center align-middle">
                        {{page.slide-2-caption}}
                    </p>

                </div>
                <div>
                    <img src="{{ site.url }}/images/{{ page.slide-2-img }}" alt="">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex flex-row">
                <div class="my-auto">
                    <h2 id="slide-h2" class="text-center align-middle">{{page.slide-3-title}}</h2>
                    <p id="slide-p" class="text-center align-middle">
                        {{page.slide-3-caption}}
                    </p>

                </div>
                <div >
                    <img src="{{ site.url }}/images/{{ page.slide-3-img }}" alt="">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex flex-row">
                <div class="my-auto">
                    <h2 id="slide-h2" class="text-center align-middle">{{page.slide-4-title}}</h2>
                    <p id="slide-p" class="text-center align-middle">
                        {{page.slide-4-caption}}
                    </p>

                </div>
                <div>
                    <img src="{{ site.url }}/images/{{ page.slide-4-img }}" alt="">
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur
                    eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt,
                    illum tempora ex quae? Nihil, dolorem!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                    aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt,
                    dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
                    aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt,
                    dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
        </div>
    </div>
</div>